Thumbs.db
.DS_Store*
*.swp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.DS_Store
.idea/
/API/App_Data/APIModels.xml
/packages/*
!.nuget/*
/API/App_Data/logs/
/API/App_Data/trace/
